body {
  font-size: 16px;
}

.block1 {
  width: 500px;
  background-color: burlywood;
  padding: 20px;
}
.block2 {
  width: 200px;
  font-size: 20px;
}

/* Резиновая верстка */
/* padding-top: 100px / 500px * 100%;  = 20%*/

.block2 {
  padding-top: 20%;
  padding-bottom: 10%;
  padding-left: 5%;
}

/* Адаптивный текст миксин scss */

/* body {font-size: 16px;} */

/* @mixin dynamicText(
  $minSizePercent,
  $maxSize,
  $minSize,
  $minWidthPx,
  $maxWidth,
  $minWidth
) {
  font-size: calc(
    #{$minSizePercent} + (#{$maxSize} - #{$minSize}) * (100vw - #{$minWidthPx}) /
      (#{$maxWidth} - #{$minWidth})
  );
} */

/* 125% = 20px / 16px x 100% */

.block2 {
  font-size: 20px;
  /* @media (min-width: 1500px) {
    @include dynamicText(125%, 40, 20, 1500px, 3000, 1500);
  } */
}

/* Адаптивность */
@media (max-width: 576px) {
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1400px) {
}

@media (min-width: 1400px) {
  .block2 {
    font-size: 50px;
  }
}

/* и */
@media (min-width: 300px) and (max-width: 300px) {
}

/* или */
@media (min-width: 300px), (max-width: 300px) {
}

/* для всех */
@media all {
}

/*  не для всех */
@media not all and (max-width: 300px) {
}

/* для всех экранов мониторов */
@media screen {
}
